# --- Deployment Target (aws | localstack) ---
DEPLOY_TARGET=aws

# --- Caso queira testa no LocalStack ---
LOCALSTACK_AUTH_TOKEN=SUA_CHAVE_LOCAL_STACK

# --- Project Configuration ---
AWS_REGION=SUA-REGIAO
PROJECT_NAME=NOME-DO-PROJETO
RESOURCE_SUFFIX=SEU-NOME
NOTIFICATION_EMAIL=SEU-EMAIL

# --- Resource Names (Generated based on suffix) ---
# O script usará o RESOURCE_SUFFIX para garantir nomes únicos