.env
*.zip
__pycache__/
node_modules/
.aws-sam/
.DS_Store
scripts/.api-key
scripts/.jwt-secret
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/builds/*.zip